<div id="homepage" class="section">
    	<div class="headerHome">
        	<div class="logohome">
            	<div class="logonya">
                	<img src="{$basedomain}assets/images/logo.png" />
                </div>
            </div>
        </div><!--end.ehaderHOme-->
        <div class="rowsLogin">
            <div class="col2">
            	<div class="mobileDesc">
                    <div class="headTrigger">
                        <a id="descTrigger" href="#"><h2>APA ITU SUPER SOCCER CAMPUS LEAGUE ?</h2></a>
                        <span class="arrowdown"></span>
                    </div>
                    <div id="desclandingMobile" class="descLanding tr">
                        <p><strong>Selamat</strong> </p><br />

                        <p>Kepada para pemenang</p><br />
    				    <p>Panitia akan menghubungi para HEAD CHAPTER terkait untuk penyerahan hadiah.</p>
    					<p>Terima kasih telah bergabung dan berkompetisi di program</p>
    					<p><strong>SUPERSOCCER COMMUNITY RACE 2015</strong></p>
    					<p>nfo: Dikarenakan masih menunggu pengiriman kelengkapan data diri masing-masing calon pemenang, maka pengumuman pemenang individual diundur ke tanggal 30 Juli 2016.</p>
                        </div><!--descLanding-->
                    </div><!--mobileDesc-->

                	<div id="desclandingDesktop" class="descLanding tr">
                    	<h4 class="title-entry yellow">Selamat!</h4>

                        <h3>Kepada para pemenang</h3>
    				    <h4 style="margin-top: -20px !important;">Panitia akan menghubungi para pemenang terkait untuk penyerahan hadiah.</h4>
    					<p>Terima kasih telah bergabung dan berkompetisi di program</p>
    					<h4 class="title-entry yellow" style="margin-top: 0 !important;">SUPERSOCCER CAMPUS LEAGUE</h4>
    					<p><strong>Info:</strong> Dikarenakan masih menunggu pengiriman kelengkapan data diri masing-masing calon pemenang, maka pengumuman pemenang individual diundur ke tanggal <b>30 Juli 2016</b>.</p>
    					<h3 class="title-entry yellow">Nantikan program Supersoccer berikutnya.</h3>
                </div><!--descLanding-->
            </div><!--end col-2-->
            <div class="col2">
            	 <div class="loginForm tr">
                 	<p class="titleLogin">Masukan Email Address dan Password</p>
                    <form method="post" class="formlogin" action="{$basedomain}login" enctype="application/x-www-form-urlencoded">

                    <div class="row">
                         <input type="text" name="email" class="email" placeholder="EMAIL ADDRESS">
                    </div>
                    <div class="row">
                        <input type="password" name="password" class="password" placeholder="PASSWORD">
						<input type="hidden" name="login" value="1">
                        <label class="row msgerorr" >{$msg}</label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="verification" value="1">Anda setuju dengan <a class="yellow" href="{$basedomain}tnc" target="_blank">Syarat dan Ketentuan</a>
                        </label>
                      </div>
                    <div class="row btLogins">
						<!--<a  href="javascript:;" class="fr button" onclick="openFbDialog();">LOGINFB</a>-->

                   	 	<a class="button fr " href="{$basedomain}home/registerMember">SIGN UP</a>
                        <a  href="javascript:void(0)" class="submitlogin fr button">LOGIN</a>
                    </div>
					<div class="row btLogins">
						<!--<a  href="javascript:;" class="fr button" onclick="openFbDialog();">LOGINFB</a>-->

                        <a id="loginFb"  href="{$urlfb}" class="fr button" title="Login dengan facebook">LOGINFB</a>
                   	 	<a id="loginTwit" class="button fr " href="{$basedomain}home/logintwiiter" title="Login dengan twitter">LOGINTW</a>
                    </div>
                    <!--<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>-->
                    <a class="twitter-share-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></a>

                </form>
                </div><!--end.login-->
            </div>
        </div><!--ends-rowLogin-->

        <div class="rows">
            <div class="winnersRow tr">
                <div class="rows">
                    <h4 class="title-entry">Pemenang Community Race dan Campus League</h4>
                    <div class="col3">
                        <div class="winnerCols">
                            <div class="winnerPic" >
                                <img src="{$basedomain}public_assets/profile/sscr1_mchepisetiawan.png" />
                            </div>
                            <div class="winnerDesc">
                                <h2 class="title-entry yellow">M Chepi Setiawan</h2>
                                <!-- <p class="chapterName">{$Chapter_static[1].name_chapter}</p> -->
                                <p class="chapterName">Chelsea Indonesia Supporter Club<br>Regional Bandung</p>
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="winnerCols">
                            <div class="winnerPic" >
                                <img src="{$basedomain}public_assets/profile/sscr1_mohammadnadzirin.png" />
                            </div>
                            <div class="winnerDesc">
                                <h2 class="title-entry yellow">Mohammad Nadzirin</h2>
                                <!-- <p class="chapterName">{$Chapter_static[1].name_chapter}</p> -->
                                <p class="chapterName">CISC Cilegon</p>
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="winnerCols">
                            <div class="winnerPic" >
                                <img src="{$basedomain}public_assets/profile/sscr1_taufikrahadina.png" />
                            </div>
                            <div class="winnerDesc">
                                <h2 class="title-entry yellow">Taufik Rahadina</h2>
                                <!-- <p class="chapterName">{$Chapter_static[1].name_chapter}</p> -->
                                <p class="chapterName">Chelsea Indonesia Supporter Club<br>Regional Bandung</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.rows> -->

                <div class="rows">
                    <div class="col3">
                        <div class="winnerCols">
                            <div class="winnerPic" >
                                <img src="{$basedomain}public_assets/profile/sscr1_nastiana.png" />
                            </div>
                            <div class="winnerDesc">
                                <h2 class="title-entry yellow">Nastiana Pramesa</h2>
                                <!-- <p class="chapterName">{$Chapter_static[1].name_chapter}</p> -->
                                <p class="chapterName">IndoManUtd Sukabumi</p>
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="winnerCols">
                            <div class="winnerPic" >
                                <img src="{$basedomain}public_assets/profile/sscr1_abimanyu.png" />
                            </div>
                            <div class="winnerDesc">
                                <h2 class="title-entry yellow">Abimanyu Kresna Mukti</h2>
                                <!-- <p class="chapterName">{$Chapter_static[1].name_chapter}</p> -->
                                <p class="chapterName">Milanisti Indonesia<br>Sezione Karawang</p>
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="winnerCols">
                            <div class="winnerPic" >
                                <img src="{$basedomain}public_assets/profile/sscr2_bayu.png" />
                            </div>
                            <div class="winnerDesc">
                                <h2 class="title-entry yellow">Bayu T. Firmansyah</h2>
                                <!-- <p class="chapterName">{$Chapter_static[1].name_chapter}</p> -->
                                <p class="chapterName">Juventus Club Indonesia<br>Chapter Solo</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.rows -->

                <div class="rows">
                    <div class="col3">
                        <div class="winnerCols">
                            <div class="winnerPic" >
                                <img src="{$basedomain}public_assets/profile/sscr2_rizky.png" />
                            </div>
                            <div class="winnerDesc">
                                <h2 class="title-entry yellow">Rizky Herdianto</h2>
                                <!-- <p class="chapterName">{$Chapter_static[1].name_chapter}</p> -->
                                <p class="chapterName">Lorenso<br>(Lazio Regional Solo Supporter)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="winnerCols">
                            <div class="winnerPic" >
                                <img src="{$basedomain}public_assets/profile/sscr2_asri.png" />
                            </div>
                            <div class="winnerDesc">
                                <h2 class="title-entry yellow">Asri Rizky</h2>
                                <!-- <p class="chapterName">{$Chapter_static[1].name_chapter}</p> -->
                                <p class="chapterName">United Indonesia Gresik</p>
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        <div class="winnerCols">
                            <div class="winnerPic" >
                                <img src="{$basedomain}public_assets/profile/sscr2_ilham.png" />
                            </div>
                            <div class="winnerDesc">
                                <h2 class="title-entry yellow">Ilham Aryakusuma</h2>
                                <!-- <p class="chapterName">{$Chapter_static[1].name_chapter}</p> -->
                                <p class="chapterName">Arsenal Indonesia Supporter<br>Malang Raya</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.rows -->

                <div class="rows">
                    <div class="col3">
                        <div class="winnerCols">
                            <div class="winnerPic" >
                                <img src="{$basedomain}public_assets/profile/sscrL_bramsyah.png" />
                            </div>
                            <div class="winnerDesc">
                                <h2 class="title-entry yellow">Bramsyah Wijaya</h2>
                                <!-- <p class="chapterName">{$Chapter_static[1].name_chapter}</p> -->
                                <p class="chapterName">UNDIP</p>
                            </div>
                        </div>
                    </div>
                    <div class="col3">
                        &nbsp;
                    </div>
                    <div class="col3">
                        &nbsp;
                    </div>
                </div><!-- /.rows -->
            </div><!--descLanding-->
        </div>

        <div class="rows">
            <div class="leaderInfo tabsInfo">
            	<h3 class="textbg">LEADERBOARD</h3>
            	<div id="tabs">
                  <ul>
                    <!--<li><a href="#tabs-1">CHAPTER</a></li>-->
                    <li><a href="#tabs-2">MEMBER</a></li>
                  </ul>
                  <!--<div id="tabs-1">
				  {if $leaderChapter}
                		{section name=i loop=$leaderChapter}
                  	<div class="rows-list">
                    	<div class="leftleader">
                            <a class="smallerThumb" href="#">
							{if $leaderChapter[i].img_avatar}
                             <img src="{$basedomain}public_assets/profile/{$leaderChapter[i].img_avatar}" />
							{else}
							<img src="{$basedomain}public_assets/profile/images.jpg" />
							{/if}
						   </a>
                        	<p class="leadClub">{$leaderChapter[i].name_chapter}  <span class="chapterLead yellow">( {$leaderChapter[i].citinya} )</span></p>
                        </div>
                        <div class="leaderboard-points">
                            <span class="points">{$leaderChapter[i].total}</span>
                        </div>
                    </div>
					{/section}
				{/if}

                  </div>-->

                  <div id="tabs-2">
				  {if $leaderMember}
                		{section name=j loop=$leaderMember}
                  	 <div class="rows-list">
                    	<div class="leftleader anngotalead">
                    		<p class="leadClub">{$leaderMember[j].name}  {if $leaderMember[j].kampus}<span class="chapterLead yellow">({$leaderMember[j].kampus})</span>{/if}</p>
                        </div>
                        <div class="leaderboard-points">
                        	<span class="points">{$leaderMember[j].total}</span>
                        </div>
                    </div>
					{/section}
				{/if}

                  </div>
                  </div>

                </div><!--end#tabs-->

            </div><!--endleaderInfo-->
        </div><!--endleaderBoardrows-->

</div><!--end.section-->
<script>
{literal}
$( ".headTrigger" ).click(function() {
  $( ".arrowdown" ).toggleClass( "arrowUp" );
  $( "#desclandingMobile" ).slideToggle( "slow" );
});
{/literal}
</script>
<script>
{literal}
	$(document).on ('click','.submitlogin',function(){
		$('.msgerorr').html('');
		var valid="";
		if($('.email').val()=='' || $('.password').val()=='')
		{
			$('.msgerorr').html('Username atau Password yang Anda masukan salah.');
			valid="ada";
		}
		if(valid)
		{
			return false;
		}
		else
		{
			$('.formlogin').trigger('submit');
		}
	});
{/literal}

</script>

<script>
{literal}
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);

    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
    console.log(response.authResponse.accessToken);
  }
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1512068332418124',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
  {/literal}
</script>
<div id="fb-root"></div>
<!--<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>-->
<script>
{literal}
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=1512068332418124";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
{/literal}
</script>
