
<!--<meta name="viewport" content="width=device-width; initial-scale=1.0">-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Supersoccer Campus League</title>
<!--Stylesheets-->
<link rel="stylesheet" href="{$basedomain}assets/css/suppersoccer-gte.css" type="text/css"  media="all" />
<link rel="stylesheet" href="{$basedomain}assets/css/responsive.css" type="text/css"  media="all" />
<link rel="stylesheet" href="{$basedomain}assets/css/jquery-ui.css" type="text/css"  media="all" />
<link rel="stylesheet" href="{$basedomain}assets/font-awesome-4.6.3/css/font-awesome.min.css">
<!--Favicon-->
<link rel="shortcut icon" href="{$basedomain}assets/images/favicon.png" type="image/x-icon" />
<!--JavaScript-->
<script type="text/javascript" src="{$basedomain}assets/js/jquery.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/jquery-ui.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="{$basedomain}assets/js/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/scripts.js"></script>

<script type="text/javascript" src="{$basedomain}assets/js/jquery.timepicker.js"></script>
<link rel="stylesheet" type="text/css" href="{$basedomain}assets/css/jquery.timepicker.css" />
<script>
		var basedomain = "{$basedomain}" ;
		var basedomainpath = "{$basedomainpath}" ;
		var pages = "{$pages}" ;
		var radiusmeter = "{$radiusmeter}" ;
	</script>
	<script type="text/javascript" src="{$basedomain}assets/js/foto_upload.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/kipagination.js"></script>
<script type="text/javascript" src="{$basedomain}assets/js/contentHelper.js"></script>
